@model Contramcamlamroi.Models.Product

@{ ViewBag.Title = "Delete";
                Layout = "~/Views/Shared/ViewPage1.cshtml"; }

<div style="text-align:center">
    <h2 style="text-align:center">Xóa sản phẩm</h2>

    <h3>Bạn có chắc muốn xóa sản phẩm này chứ ?</h3>

</div>

<div style="padding-left:40%">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePro)
        </dd>

        <dt>
            Chi tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecriptionPro)
        </dd>

        <dt>
            Loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePro)" height="150" width="150" />

        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "List", "Product")
        </div>
    }
</div>
