@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .div-footer {
            position: fixed;
            text-align: center;
            bottom: 0;
            left: 0;
            padding-top: 15px;
            height: 50px;
            width: 100%;
            background-color: forestgreen;
        }

        li.format-hello {
            padding-top: 15px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index_Admin", "Product", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Mua Hàng", "Index_Product", "Product")</li>
                    <li>@Html.ActionLink("Sản Phẩm", "Index_Admin", "Product")</li>
                    <li>@Html.ActionLink("Loại Sản Phẩm ", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Đơn Hàng", "Index", "OrderPro")</li>
                    <li>@Html.ActionLink("Khách Hàng", "Index", "Customer")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("LoginAdmin","Admin")"> LogOut</a></li>
                    <li class="format-hello">
                        @if (Session["NameUser"] == null)
                        {
                            <span> HeLLo</span>
                        }

                        else
                        {
                            <span> <text> HeLLo </text> @Session["NameUser"]</span>
                        }
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">

            <div id="div-content">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
