@model Contramcamlamroi.Models.OrderPro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}

<h2>Chi tiết</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Thời gian đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrder)
        </dd>

        <dt>
            Mã KH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCus)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressDeliverry)
        </dd>

        <dt>
            Tên KH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.NameCus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay về", "Index")
</p>