@model IEnumerable<Contramcamlamroi.Models.OrderPro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}

<h1 style="padding:10px;">ĐƠN HÀNG</h1>


<table class="table table-bordered" style="border-width: thick;  margin-left: 10px; margin-right: 10px; font-size:17px">
    <tr>
        <th> Ngày ĐH </th>
        <th> Địa chỉ giao hàng  </th>
        <th> Mã Khách Hàng </th>
        <th> Tên Khách Hàng </th>
        <th> Số ĐT </th>
        <th> Email </th>






    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td> @Html.DisplayFor(modelItem => item.DateOrder) </td>
    <td> @Html.DisplayFor(modelItem => item.AddressDeliverry) </td>
    <td> @Html.DisplayFor(modelItem => item.IDCus) </td>
    <td> @Html.DisplayFor(modelItem => item.Customer.NameCus) </td>
    <td> @Html.DisplayFor(modelItem => item.Customer.PhoneCus) </td>
    <td> @Html.DisplayFor(modelItem => item.Customer.EmailCus) </td>
    







    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
    </td>
</tr>
    }
</table>